/* set default column width for all tables *?

/* have table cells wrap text if it is wider than column */

table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid black;
  width: 75px;
  padding: 5px 10px; 
  text-align: center;
  vertical-align: center;
}

th.student_column, td.student_column {
  border: 1px solid black;
  white-space: nowrap;
}

td.student_column {
  text-align: left;
}
