/*/// LAYOUT ///*/
body {
  background-color: #ebedef;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/*/// NAVIGATION ///*/

/*/// TABLES ///*/
table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: white;
}

th {
  background-color: #990000;
  color: white;
}

th, td {
  border: 1px solid black;
  width: 75px;
  padding: 5px 10px;
  text-align: center;
  vertical-align: center;
}

th.first_column, td.first_column {
  border: 1px solid black;
  white-space: nowrap;
}

td.first_column {
  text-align: left;
  background-color: #fdedec;
}

th.comments, td.comments {
  width: 300px;
}

/*/// LINKS ///*/

/*/// FORMS ///*/
