/*/// LAYOUT ///*/
body {
  background-color: #ebedef;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/*/// NAVIGATION ///*/
nav {
  display: block;
  color: red;
  text-decoration: none;
  border-bottom: 1px solid #808080;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  margin: 0px;
}

nav a:hover {
  background-color: #808080;
  color: white;
}

/*/// TABLES ///*/
table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: white;
}

th {
  background-color: #990000;
  color: white;
}

th, td {
  border: 1px solid black;
  width: 75px;
  padding: 5px 10px;
  text-align: center;
  vertical-align: center;
}

th.first_column, td.first_column {
  border: 1px solid black;
  white-space: nowrap;
}

td.first_column {
  text-align: left;
  background-color: #fdedec;
}

th.comments, td.comments {
  width: 300px;
}

/*/// LINKS ///*/
a {
  text-decoration: none;
}

/*/// LISTS ///*/


/*/// FORMS ///*/
