<h3>Signup</h3>

<form method="POST" action="/signup">
  <input type="text" name="name" id="name" placeholder="Your Name" />
  <input type="text" name="email" id="email" placeholder="Email" />
  <input type="password" name="password" id="password" placeholder="Create Password" />
  <p>
    Create account as:
  </p>
  <% @roles.each do |role| %>
    <input type="radio" value="<%= role.name %>" name="role" id="role_<%= role.id %>"/>
  <% end %>
  <input type="submit" value="Signup" id="submit" />
</form>
