<h3>Add New Course</h3>

<form method="POST" action="/courses">
  <input type="text" name="course[name]" id="name" placeholder="Course Name" />
  <!-- hidden box is to add instructor's id to user list -->
  <input type="hidden" id="hidden" name="course[user_ids][]" value="<%= current_user.id %>" />
  <p>
    Course Roster:<br />
    <em>maximum 15 students</em>
  </p>
  <ol>
    <% 15.times do %>
      <li>
        <input type="text" name="users[][name]" placeholder="Student Name" />
        <input type="text" name="users[][email]" placeholder="Student Email" />
        <input type="hidden" id="hidden" name="users[][role_id]" value="<%= Role.find_or_create_by(name: "Student").id %>" />
      </li>
    <% end %>
  </ol>

  <p>
    Course Assessments:<br />
  </p>
  <ol>
    <% 15.times do %>
      <li>
        <input type="text" name="assessments[][name]" placeholder="Name" />
      </li>
    <% end %>
  </ol>
  <input type="submit" value="Add Course" />
</form>
