<h3><%= @course.name %></h3>

<table>
  <thead>
    <tr>
      <td>
        Students
      </td>
      <% @course.assessments.each do |assessment| %>
      <td>
        <%= assessment.name %>
      </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @course.students.each do |student| %>
    <tr>
      <td>
        <%= student.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
