<h3>Instructor Signup</h3>

<form method="POST" action="/instructor/signup">
  <input type="text" name="name" id="name" placeholder="Your Name" />
  <input type="text" name="email" id="email" placeholder="Email" />
  <input type="password" name="password" id="password" placeholder="Create Password" />
  <input type="submit" value="Signup" />
</form>
