<h3>Welcome to Gradebook!</h3>

<% if flash.has?(:message) %>
  <p>
    <%= flash[:message] %>
  </p>
<% end %>

<p>
  Gradebooks is an easy way for instructors to share course grades with students, and for students to view all of their grades. 
</p>

<p>
  <a href="/login">Login</a><br />
  <a href="/signup">Signup</a>
</p>
