<h3>Welcome!</h3>
<p>
  <a href="/student/login">Student Login</a><br />
  <a href="/student/signup">Student Signup</a>
</p>
<p>
  <a href="/instructor/login">Instructor Login</a><br />
  <a href="/instructor/signup">Instructor Signup</a>
</p>
