<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= url('/main.css') %>" rel="stylesheet" type="text/css" />

    <title>Gradebook</title>
  </head>
  <body>
    <h1>Gradebook</h1>
    <% if logged_in? %>
      <% if current_user.instructor? %>
        <nav>
          <a href="/courses">Home</a>
          <a href="/courses/new">Add Course</a>
          <a href="/logout">Logout</a>
        </nav>
      <% elsif current_user.student? %>
        <nav>
          <a href="/courses">Home</a>
          <a href="/courses/register">Course Registration</a>
          <a href="/logout">Logout</a>
        </nav>

      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
