<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= url('/main.css') %>" rel="stylesheet" type="text/css" />

    <title>Gradebook</title>
  </head>
  <body>
    <h1>Gradebook</h1>
    <%= yield %>
  </body>
</html>
